canvas {
  cursor: default;
}
h2 {
  color: white;
}
h4 {
  color: white;
  text-align: center;
  width: 100%;
}
html {
  background-color: #292929;
  margin: 0;
}
body{
  margin: 0;
}
button {
  text-decoration: none;
  background-color: black;
  color: antiquewhite;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border-color: black;
  border: solid 1px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(199, 186, 169);
}
p {
  color: white;
}
a {
  text-decoration: none;
  background-color: antiquewhite;
  color: black;
  padding: 5px;
  margin: 5px;
  border-color: black;
  border: solid 1px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
a:hover {
  background-color: goldenrod;
}
input {
  max-height: 3rem;
  border-radius: 5px;
}

/* Classes */
.auth-container {
  display: flex;
  justify-content: center;
}
/* ID elements */
#container {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
#game-container {
  grid-column-start: 1;
  grid-column-end: 10;
  z-index: 0;
  background-color: #292929;
}

/* RIGHT SIDEBAR*/
#right-sidebar {
  grid-column-start: 10;
  grid-column-end: 11;
  background-color: black;
  height: 100%;
  padding: 5px;
  z-index: 1;
  min-width: 10rem;
  transition: 200ms;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

#backgrounds-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
#gray-background-button {
  background-color: #606060;
}
#lightgray-background-button {
  background-color: rgb(195, 195, 195);
}
#darkgray-background-button {
  background-color: #292929;
}
#black-background-button {
  background-color: #000000;
}
#login-container {
  display: flex;
}

#save-game-button {
  height: 2rem;
  border-radius: 5px;
}
#profile-container {
  display: none;
}
#objects-container {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
}
#object-scale-value {
  text-align: center;
  margin: 0;
}
#tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.object-button {
  width: 3rem;
  height: 3rem;
}

/* BOTTOM BAR*/
#bottom-bar {
  grid-column-start: 1;
  grid-column-end: 11;
  background-color: black;
  height: 10vh;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px -6px 5px -1px rgba(100, 100, 100, 0.59);
  box-shadow: 0px -6px 5px -1px rgba(100, 100, 100, 0.59);
}
