#container {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
#game-container {
  grid-column-start: 1;
  grid-column-end: 10;
  width: 100%;
  height: auto;
  z-index: 0;
}
#right-sidebar {
  grid-column-start: 10;
  grid-column-end: 11;
  background-color: gray;
  height: 100%;
  z-index: 1;
}
#objects-container {
  display: none;
  justify-content: center;
}
#tiles-container {
  display: flex;
  justify-content: center;
}
#bottom-bar {
  grid-column-start: 1;
  grid-column-end: 11;
  background-color: gray;
  height: 100%;
}

.object-button {
  width: 3rem;
  height: 3rem;
}
canvas {
  cursor: default;
}
